html
  head
    title= "Random Cocktail"
    // Import Fonts
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans&display=swap",rel="stylesheet")
  style.
    .centeredHeading { display:block;text-align:center;font-family:Amatic SC;color:#ffffff;position:relative;z-index:2;font-size:48}
    .centeredInfo { display:block;text-align:center;font-family:Josefin Sans;color:#ffffff;position:relative;z-index:2;font-size:32}
  style
    // Bring in our custom css stylesheet from customStyles directory
    include ./customStyles/stars.css

  // Fixed margin of 120 px
  body(style="margin-top:120px")
    // Stars and twinkle effect taken from CodePen
    div(class="stars")
    div(class="twinkling")
    // Drink Image
    img(class="center", src=strDrinkThumb, alt="Drink Thumbnail",style="z-index:2;position:relative")
    // Drink Title
    h1(class="centeredHeading")= strDrink
    // Drink ingredients
    each i in [strIngredient1, strIngredient2, strIngredient3, strIngredient4, strIngredient5, strIngredient6, strIngredient7, strIngredient8, strIngredient9, strIngredient10]
      h2(class="centeredInfo",style="color:#ffffff;text-align:center")= i
